{% extends "main.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}

    <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Корзина</h2>
                                <img src="{{ page.podcherk.url }}" alt="" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Фото</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість</th>
            <th scope="col">Видалити?</th>
            <th scope="col">Ціна за одиницю</th>
            <th scope="col">Ціна</th>
    </tr>
  </thead>
  <tbody>

        {% for item in cart %}
            {% with product=item.product %}
                <tr >
                    <td >
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.glavnoe_photo %}
                                    {{ product.glavnoe_photo.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}" width="100px" >
                        </a>
                    </td>
                    <td>{{ product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">Видалити</a></td>
                    <td class="num">{{ item.price }} грн</td>
                    <td class="num">{{ item.total_price }} грн</td>
                </tr>
            {% endwith %}
        {% endfor %}

  </tbody>
</table>


                <div class="container">
                    <div class="row">
                        <div class="heading-section">
                        <div class="col-md-4">
                            
                                <h3>Всього {{ cart.get_total_price }} грн</h3>

                            
                        </div>
                        <div class="col-md-8">
                            
 
    <p class="text-right">
        <a href="\" class="btn btn-success">Продовжити</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-success">Замовити</a>
    </p>                              

                            </div>
                        </div>
                    </div>
                </div>

    </div>
{% endblock %}