{% extends "main.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div id="latest-blog " style="background:radial-gradient(rgba(215,215,177,0.4),rgba(215,215,177,0.4),rgba(0,0,0,0));">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Замовлення</h2>
                                <img src="{{ page.podcherk.url }}" alt="" >
                            </div>
                        </div>
                    </div>
                
            

    <div class="order-info">
<table class="table table-striped">
  <thead>
    <tr>


            <th scope="col">Кількість</th>
            <th scope="col">Ціна</th>

    </tr>
  </thead>
  <tbody>
{% for item in cart %}
<tr >

                    <td>{{ item.quantity }} </td>
                    <td>{{ item.total_price }} грн</td>

                </tr>
{% endfor %}
  </tbody>
</table>

                    <div class="row">
                        <div class="col-md-12">

                                <h3>Всього: {{ cart.get_total_price }} грн</h3>
                                

                        </div>
                    </div>
                </div>

    <form action="." method="post" class="order-form ">
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Розмістити замовлення"></p>
        {% csrf_token %}
    </form>
    </div></div>
{% endblock %}
